@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;900&display=swap');

    
:root{
    /* Cores */
    --cor1:#a167f6;
    --cor2:#b07dfb;

    /* Fonts */
    --font01: 'Vollkorn', Georgia, Serif;
}

body{
    font-family: 'Vollkorn', Georgia, Serif;
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "nav    conteudo aside"
    "footer footer  footer";
}

*{
    margin:0px;
    padding: 0px;
}


header{
    display: grid;
    background-image: linear-gradient(to left, var(--cor2), var(--cor1));
    height: 10vh;
    padding: 20px;
    align-content: center;
    grid-template-columns: 1fr 280px;
    grid-area: header;
}

header #home>img{
    max-height: 30px;
}
.nav01 ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav01 ul>a{
    background-color: rgba(0, 0, 0, 0.159);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    flex-flow: wrap row;
}
.nav01 ul>a:hover{
    background-color: rgba(0, 0, 0, 0.486);
}
.nav02{
    display: flex;
    grid-area: nav;
    padding: 30px;
}
.nav02 ul a li{
    padding: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.247);
    margin: 0 auto 26px;
    list-style: none;
    border-radius: 10px;
}

.nav02 ul a li img{
    height: 100%;
    width: 100%;
}

.nav02 ul a li:hover{
    background-color:var(--cor2);
}
main{
    grid-area: conteudo;
}
main p{
    color: #00000091;
    font-size: 1.2em;
    line-height: 1.6em;
}
section{
    grid-area: content;
    grid-row: -1;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas:
    "titulo caracteristicas"
    "texto1 texto1"
    "image1 legenda"
    "image1 image2"
    "texto2 texto3"
    "purplebox  purplebox"
    "purplelist texto4"
    "image3 image3";
    gap: 25px;
}

section div.titulo{
    grid-area: titulo;
    grid-column:1;
    grid-row: 1;    
}
section div.titulo h1{
    color: #a167f6;
    font-size: 4em;
    font-weight: 700;
    line-height: 60px;
}
section div.titulo p{
    font-size: 0.875em;
    font-style: italic;
    color: #a167f6;
}

section .caracteristicas{
    display: flex;
    grid-area: caracteristicas;
    grid-column: 2;
    grid-row: 1;
    font-family: 'Vollkorn', Georgia, Serif;
    cursor: default;
}
.caracteristicas > div{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    width: 80px;
    height: 100px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
section span.numero{
    color: #c299ff;
    font-size: 2.8em;
}

section span.rotulo{
    display: block;
    background-color: white;
    color: #b07dfb;
    width: 100%;
    padding: 5px 0px;
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.247);
}

section .image1{
    grid-area: image1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

section .image2{
    grid-area: image2;
    width:90%;
    border-radius: 10px;
}
section img.image3{
    grid-area: image3;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
section .legenda{
    grid-area: legenda;
    font-size: 0.875em;
    color: #b07dfb;
    max-width: 16em;
}

section .texto{
    max-width: 95%;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.005em;
}

section #texto1{
    grid-area: texto1;
    grid-column: 1/-1;
    grid-row: 2;
}

section #texto2{
    grid-area: texto2;
    grid-column: 1;
}

section #texto3{
    grid-area: texto3;
    grid-column: 2;
}
section div#texto4{
    grid-area:texto4;
    grid-column: 2;
}

section div#texto4 .texto4{
    grid-area: texto4;
    margin: 20px 0px;
}
section .purplebox{
    grid-area: purplebox;
    font-size: 1.5em;
    background-image: linear-gradient(to left, var(--cor2), var(--cor1));
    border-radius: 5px;
    font-style: italic;
    max-width:100%;
    max-height: 100%;
    text-align: center;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.247);
}

section .purplebox p{
    color: white;
    padding: 30px;
}

section .purplelist{
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.247);
    list-style: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    grid-area: purplelist;
}
section .purplelist li{
    margin: auto;
    padding: 20px 10px;
    border-bottom: 2px solid #ae7bfb;
}
aside{
    grid-area: aside;
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 250px));
    justify-items: start;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.042);
}

aside .anuncios{
    margin: 40px 15px 40px 45px;
    max-width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

aside #anuncio1{
    grid-row: 1;
}

footer{
    grid-area: footer;
}
footer p{
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to left, var(--cor2), var(--cor1));
    font-size: 1.2em;
    color: white;
}


@media(max-width: 1100px){
    body{
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav    nav     nav"
        "conteudo conteudo conteudo"
        "aside aside aside"
        "footer footer  footer";
    }

    body p{
        font-size: 1em;
    }

    header{
        grid-area: header;
        height: 150px;
        grid-template-columns: auto;
    }
    header #home > img{
        width: 200px;
    }
    .nav01{
        margin-top: 20px;
    }
    .nav01 ul{
        gap: 8px;
    }
    .nav02{
        grid-area: nav;
    }
    .nav02 ul{
        overflow-x: auto;
        display: flex;
        width: 100%;
    }
    .nav02 ul>a{
        margin-right: 10px;
    }
    main{
        grid-area: conteudo;
    }

    section{
        margin: 0 20px;
        grid-template-columns: auto;
    }
    section img.image3{
        width: 100%;
        height: 95%;
    }
    aside{
        grid-area: aside;
        display: flex;
        align-items: center;
    }

    aside .anuncios{
        max-width:70%;
    }
    footer{
        grid-area: footer;
    }

    .caracteristicas > div{
        height: 71px;
    }
}
